@import url('https://fonts.googleapis.com/css2?family=Barlow&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lora:wght@500&display=swap');

* {
    font-family: 'Barlow', sans-serif;
}

body {
    background: var(--bb-black);
}

:root {
    --bb-black: #2b2b2b;
    --bb-light-black: #3f3f3f;
    --bb-lighter-black: #616161;
    --bb-blue: #793aff;
    --bb-pink: #ff5491;
    --bb-yellow: #ffcc4a;
    --bb-white: #f3f5fa;
}

label {
    display: flex;
    flex-direction: column;
    width: 70px;
    cursor: pointer;
}

label span {
    background: #fff;
    border-radius: 10px;
    height: 7px;
    margin: 5px 0;
    transition: .4s cubic-bezier(0.68, -0.6, 0.32, 1.6);

}


span:nth-of-type(1) {
    width: 40%;

}

span:nth-of-type(2) {
    width: 80%;
}


span:nth-of-type(3) {
    width: 55%;

}


input[type="checkbox"] {
    display: none;
}


input[type="checkbox"]:checked~span:nth-of-type(1) {
    transform-origin: bottom;
    transform: rotatez(45deg) translate(8px, 0px)
}


input[type="checkbox"]:checked~span:nth-of-type(2) {

    transform-origin: top;
    transform: rotatez(-45deg)
}


input[type="checkbox"]:checked~span:nth-of-type(3) {

    transform-origin: bottom;
    width: 40%;
    transform: translate(25px, -11px) rotatez(45deg);

}

.navbar_content {
    /* absolute position with no background color */
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1;

}

.navbar {
    box-shadow: none !important;
    margin: 10px auto;
}

.navbar-nav {
    background-color: rgba(255, 255, 255, 0.1);
    padding: 5px 50px;
    border-radius: 50px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.4);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
}

.nav-link{
    font-weight: bolder;
    font-size: 18px;
}

.nav-item {
    margin-right: 15px;
}

.nav-item:last-child {
    margin-right: 0;
}

.social_icons {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.social_icons a {
    background-color: var(--bb-white);
    height: 30px;
    width: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
}


.hero_section {
    height: 50vh;
    background-image: url(../assets/images/4.jpg);
    background-position: center;
    background-size: cover;
    object-fit: cover;
    background-repeat: no-repeat;
    position: relative;
    color: var(--bb-white);
    box-shadow: inset -10px -10px 20px var(--bb-black);
}

.hero_content {
    position: absolute;
    bottom: 0px;
}

.hero_content h6 {
    font-size: 20px;
    font-weight: bolder;
}

.hero_content h3 {
    font-size: 30px;
    font-weight: bolder;
}

@media (max-width:991px) {


    .navbar-nav {
        border-radius: 0;
    }

    .social_icons {
        margin-top: 10px;
    }
    .social_icons {
        background-color: var(--bb-black);
        justify-content: center;
        padding: 10px;
        border-radius: 10px;
        margin-top: 10px;
    }
}

.stories_content{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 10px;
    justify-content: center;
}

.story_type{
    background: var(--bb-lighter-black);
    color: var(--bb-white) !important;
    padding: 5px 15px;
    font-size: 15px;
    border-radius: 50px;
}

.story_type:first-child{
    background-color: var(--bb-pink);
}

.cards {
    display: flex;
    flex-direction: column;
    gap: 15px;
    color: var(--bb-white);
}

.card {
    height: auto;
    width: 100%;
    margin: 10px auto;
    background: var(--bb-light-black);
}

.card_header {
    display: flex;
    flex-wrap: nowrap;
}

.detail {
    display: flex;
    flex-direction: column;
    padding: 20px;
}

.logo img {
    height: 250px;
    width: 100%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    object-fit: cover;
    margin-right: 10px;
}

.contact_section {
    height: 80vh;
    width: 100%;
    background: var(--bb-blue);
    color: var(--bb-white);

}

.contact_content {
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.form-control {
    box-shadow: 0 4px 30px rgba(255, 255, 255, 0.1);
    background-color: rgba(255, 255, 255, 0.3);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    transition: all 0.25 ease;
}

.form-control::placeholder {
    color: var(--bb-white);

}

.form-control:active,
.form-control:focus {
    background: var(--bb-pink);
}

#sBtn {
    padding: 10px;
    margin: 10px auto;
    background-color: var(--bb-white);
    color: var(--bb-blue);
    font-weight: bolder;
}

.input-group select {
    box-shadow: 0 4px 30px rgba(255, 255, 255, 0.1);
    background-color: rgba(255, 255, 255, 0.3);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}



.subscribe_btn_2 {
    width: auto;
}


.email_2 {
    background-color: transparent !important;
    margin-right: 10px;
}

.email_2::placeholder {

    color: var(--bb-white) !important;
    opacity: 0.5;
}

#subscribe_btn_2 {
    background-color: var(--bb-white) !important;
}

.text-reset{
    font-size: 14px;
}


@media (max-width:767px) {
    .copyright_content {
        justify-content: center !important;
    }
}

