@import url('https://fonts.googleapis.com/css2?family=Barlow&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lora:wght@500&display=swap');


.arrow {
    width: 13px;
    height: 13px;
    display: inline-block;
    position: relative;
    bottom: -5px;
    left: -10px;
    transition: 0.4s ease;
    margin-top: 2px;
    text-align: left;
    transform: rotate(45deg);
    float: right;
    margin-top: 10px;
    margin-right: 15px;
}

.arrow:before,
.arrow:after {
    position: absolute;
    content: "";
    display: inline-block;
    width: 12px;
    height: 3px;
    background-color: #fff;
    transition: 0.4s ease;
}

.arrow:after {
    position: absolute;
    transform: rotate(90deg);
    top: -5px;
    left: 5px;
}

.click-text {
    display: block;
    text-align: left;
    margin: 0;
    cursor: pointer;
    color: var(--bb-white);
    font-size: 1.2rem;
    background-color: var(--bb-light-black);
    border-radius: 10px;
    transition: 0.15s ease;
    padding: 20px;

}


.wrapper ul {
    padding: 0;
    margin: 0;
    height: 0;
    overflow: hidden;
    opacity: 0;
    transition: 0.4s ease;
    color: #793aff;

}

.wrapper li {
    list-style-type: none;
    margin: 0 auto;
    padding: 4px 12px;
    text-align: left;
    cursor: pointer;
    color: var(--bb-white) !important;
}

.wrapper li:first-child {
    margin-top: 12px;
}

.wrapper li:last-child {
    margin-bottom: 12px;
}


.wrapper {
    display: none;
    margin: 40px auto;
    width: 100%;
    text-align: center;
    transition: 0.15s ease;
}

.wrapper.active .arrow {
    transform: rotate(45deg) translate(-5px, -5px);
}

.wrapper.active .arrow:before {
    transform: translate(10px, 0);
}

.wrapper.active .arrow:after {
    transform: rotate(90deg) translate(10px, 0);
}

.wrapper.active ul {
    opacity: 0.7;
    height: 108px;
}

@media (max-width: 481px) {
    .wrapper {
        display: block;
    }
}

body {
    font-family: 'Barlow', sans-serif;
    background: var(--bb-black);
}

:root {
    --bb-black: #2b2b2b;
    --bb-light-black: #3f3f3f;
    --bb-lighter-black: #616161;
    --bb-blue: #793aff;
    --bb-pink: #ff5491;
    --bb-yellow: #ffcc4a;
    --bb-white: #f3f5fa;
    --barlow: 'Barlow', sans-serif;
    --lora: 'Lora', sans-serif
}

label {
    display: flex;
    flex-direction: column;
    width: 70px;
    cursor: pointer;
}

label span {
    background: #fff;
    border-radius: 10px;
    height: 7px;
    margin: 5px 0;
    transition: .4s cubic-bezier(0.68, -0.6, 0.32, 1.6);

}


label span:nth-of-type(1) {
    width: 40%;

}

label span:nth-of-type(2) {
    width: 80%;
}


label span:nth-of-type(3) {
    width: 55%;

}


.toggler input[type="checkbox"] {
    display: none;
}


input[type="checkbox"]:checked~span:nth-of-type(1) {
    transform-origin: bottom;
    transform: rotatez(45deg) translate(8px, 0px)
}


input[type="checkbox"]:checked~span:nth-of-type(2) {

    transform-origin: top;
    transform: rotatez(-45deg)
}


input[type="checkbox"]:checked~span:nth-of-type(3) {

    transform-origin: bottom;
    width: 40%;
    transform: translate(25px, -11px) rotatez(45deg);

}

.navbar_content {
    /* absolute position with no background color */
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1;

}

.navbar {
    box-shadow: none !important;
    margin: 10px auto;
}

.navbar-nav {
    background-color: rgba(255, 255, 255, 0.1);
    padding: 0px 50px;
    border-radius: 50px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.4);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
}

.nav-link {
    font-weight: bolder;
    font-size: 18px;
}

.nav-item {
    margin-right: 15px;
}

.nav-item:last-child {
    margin-right: 0;
}

.social_icons {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.social_icons a {
    background-color: var(--bb-white);
    height: 30px;
    width: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
}


.hero_section {
    height: 50vh;
    background-image: url(../assets/images/3.jpg);
    background-position: center;
    background-size: cover;
    object-fit: cover;
    background-repeat: no-repeat;
    position: relative;
    color: var(--bb-white);
    box-shadow: inset -10px -10px 20px var(--bb-black);
}

.hero_content {
    position: absolute;
    bottom: 0px;
}

.hero_content h6 {
    font-size: 20px;
    font-weight: bolder;
}

.hero_content h3 {
    font-size: 30px;
    font-weight: bolder;
    font-family: var(--lora);
}

@media (max-width:991px) {


    .navbar-nav {
        border-radius: 0;
    }
    .collapse a {
        color: var(--bb-white);
    }

    .navbar-nav,
    .social_icons {
        background-color: var(--bb-pink);
    }
    .social_icons {
        justify-content: center;
        padding: 10px;
        border-radius: 10px;
        margin-top: 10px;
    }
    .hero_content h6,
    .hero_content h3 {
        text-align: center;
        margin: 0 40px;
    }
    
}


.cards{
    display: flex;
    flex-direction: column;
    gap: 15px;
    color: var(--bb-white);
}

.card{
    height: auto;
    width: 100%;
    margin: 10px auto;
    background: var(--bb-light-black);
    padding: 20px ;
}

.card_header{
    display: flex;
    flex-wrap: nowrap;
}

.detail{
    display: flex;
    flex-direction: column;
}

.detail h5{
    font-family: var(--lora);
}

.logo img{
    height: 50px;
    width: 50px;
    object-fit: cover;
    margin-right:  10px;
}

.myCustomCard
{
    height: 100%;
    width: 100%;
    margin: 10px auto;
    background: var(--bb-lighter-black);
    border-radius: 10px;
    padding: 10px;
}

.news_letter_section {
    background-color: var(--bb-blue);
    padding: 50px;
    border-radius: 10px;
}

.news_left {
    color: #fff;
}

#email {
    border: 0;
    outline: 0;
    background: rgba(255, 255, 255, 0.2);
    color: var(--bb-white);
}

#email::placeholder {
    color: var(--bb-white);
}

.news_left {
    color: var(--bb-yellow);
}

.news_left h4 {
    font-weight: bolder;
    font-style: oblique;

}

#subscribe_btn {
    background: var(--bb-white);
    color: var(--bb-pink);
    font-weight: bolder;
}

.pills{
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    gap:3px;
}

.prev_next{
    display: none;
    justify-content: center;
    gap: 10px;
    margin-top: 20px;
}

.prev_next button{
    border: none;
    outline: none;
    color: var(--bb-white);
    background-color: var(--bb-light-black);
    padding: 5px 40px;
}

.first, .last{
    padding: 3px 15px;
    background: var(--bb-lighter-black);
    color: var(--bb-white) !important;
    border-radius: 5px;
    font-size: 14px;
}

.box{
    padding: 5px 10px;
    border-radius: 5px;
    color: var(--bb-white) !important;
    background: var(--bb-lighter-black);
}

.box_1{
    background-color: var(--bb-pink) !important;
}

.fa-chevron-left, .fa-chevron-right
{
    margin: 0;
    color: var(--bb-pink);
}

footer{
    background-color: var(--bb-light-black);
}
.subscribe_btn_2 {
    width: auto;
}


.email_2 {
    background-color: var(--bb-lighter-black) !important;
    margin-right: 10px;
    border: none !important;
    outline: none;
}
.email_2::placeholder {

    color: rgba(255, 255, 255, 0.5) !important;
    font-size: 13px;
}

#subscribe_btn_2 {
    background-color: var(--bb-white) !important;
    width: 150px;
    text-transform: none;
}

#formShow,
#logoShow {
    display: none !important;
}



@media (max-width:991px) {

    #formShow,
    #logoShow {
        display: block !important;
    }

    #formHide,
    #logoHide {
        display: none;
    }

}

footer {
    font-size: 13px;
}

footer .row {
    justify-content: center;
}

footer .col-md-2 {
    width: 100px;
    padding: 15px;
    margin: 5px 10px;
}

footer #logoHide {
    width: 20%;
}

footer #formHide {
    width: 30%;
}

@media (max-width:479px) {
    footer .col-md-2 {
        width: 30%;
    }
}

@media (max-width:1199px) {
    footer #logoHide {
        width: 15%;
    }
}

@media (max-width:767px) {
    .certificate {
        width: 100% !important;
    }
    .myCustomCard, .pills, .news_letter_section{
        display: none;
    }
    .prev_next{
        display: flex;
    }
}

@media (max-width:575.98px) {
    footer {
        display: none !important;
    }

    .footer-md_screen {
        display: block !important;
    }

    .footer-md_screen .footer-md_screen_content {
        display: flex;
        width: 100%;
        justify-content: space-between;
        flex-wrap: nowrap;
    }

    .footer-md_screen .footer-md_screen_content div {}

    .footer-md_screen .footer-md_screen_content ul li {
        list-style: none;
        font-size: 15px !important;
    }

    .footer-md_screen .footer-md_screen_content ul li a {
        color: var(--bb-white) !important;
        font-weight: bolder;
    }

    .socials a {
        height: 40px;
        width: 40px;
        background-color: var(--bb-white);
        margin: 0 20px;
        display: flex;
        align-items: center;
        justify-content: center;
        color: var(--bb-black) !important;
        border-radius: 50%;
    }

}

.footer-md_screen {
    display: none;
}
