@import url('https://fonts.googleapis.com/css2?family=Barlow&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lora:wght@500&display=swap');

body {
    background: var(--bb-black);
    font-family: 'Barlow', sans-serif;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


:root {
    --bb-black: #2b2b2b;
    --bb-light-black: #3f3f3f;
    --bb-lighter-black: #616161;
    --bb-blue: #793aff;
    --bb-pink: #ff5491;
    --bb-yellow: #ffcc4a;
    --bb-white: #f3f5fa;
    --barlow: 'Barlow', sans-serif;
    --lora: 'Lora', serif;
    --bb-light-white: rgba(255,255,255,0.2)
}

label {
    display: flex;
    flex-direction: column;
    width: 50px;
    cursor: pointer;
    margin-top: -30px;
    margin-right: -10px;
    position: relative !important;
    z-index: 100000 !important;
}

label span {
    background: var(--bb-pink);
    border-radius: 10px;
    height: 4px;
    margin: 5px 0;
    transition: .4s cubic-bezier(0.68, -0.6, 0.32, 1.6);
    position:relative;
}


label span:nth-of-type(1) {
    width: 100%;

}

label span:nth-of-type(2) {
    width: 100%;
}


label span:nth-of-type(3) {
    width: 100%;

}


input[type="checkbox"] {
    display: none;
}


input[type="checkbox"]:checked~span:nth-of-type(1) {
    transform:rotate(-45deg) translate(-10px, 5px)
}


input[type="checkbox"]:checked~span:nth-of-type(2) {

    opacity: 0;
}


input[type="checkbox"]:checked~span:nth-of-type(3) {
    transform: rotate(45deg) translate(-15px, -10px);
    

}

.navbar_content {
    /* absolute position with no background color */
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1;

}

.navbar {
    box-shadow: none !important;
    margin: 10px auto;
}

.navbar-nav {
    background-color: rgba(255, 255, 255, 0.1);
    padding: 0px 50px;
    border-radius: 50px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.4);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
}

.nav-link {
    font-weight: bolder;
    font-size: 18px;
}

.nav-item {
    margin-right: 15px;
}

.nav-item:last-child {
    margin-right: 0;
}

.social_icons {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.social_icons a {
    background-color: var(--bb-white);
    height: 20px;
    width: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    font-size: 10px;
}


.hero_section {
    height: 50vh;
    background-image: url(../assets/images/5.jpg);
    background-position: center;
    background-size: cover;
    object-fit: cover;
    background-repeat: no-repeat;
    position: relative;
    color: var(--bb-white);
}

.hero_content {
    position: absolute;
    bottom: 30px;
}

.hero_content h6 {
    font-size: 20px;
    font-weight: bold;
}

.hero_content h3 {
    font-size: 30px;
    font-weight: bolder;
    font-family: var(--lora);
}

@media (max-width:991px) {
  
    
    .navbar-nav {
        border-radius: 0;
    }
    
    .collapse a {
        color: var(--bb-white);
    }

    .navbar-nav,
    .social_icons {
        background-color: var(--bb-pink) !important;
    }

    .social_icons {
        margin-top: 10px;
    }
    .social_icons {
        background-color: var(--bb-black);
        justify-content: center;
        padding: 10px;
        border-radius: 10px;
        margin-top: 10px;
    }
    .hero_content h6, .hero_content h3{
        text-align: center;
        margin: 0 40px;
    }
}

.swiper {
    /* width: 600px; */
    height: 400px;
    border-radius: 10px;
    margin-top: 40px;
}

.swiper-slide{
    object-fit: cover;
    border-radius: 10px;
    height: 400px;  
}

.name_of_company
{
    height: 100%;
    min-height: 60vh;
    padding: 50px auto;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--bb-white);
}



.name_of_company h3{
    font-family: var(--lora);
    font-weight: normal;
    font-size: 30px;
}

.name_of_company p{
    font-weight: normal;
    font-size: 15px;
}

.swiper-button-prev, .swiper-button-next
{
    margin-top: 50px !important;
}

.process_section
{
    height: 100%;
    border-radius: 10px;
    color: var(--bb-white);
    background-color: var(--bb-blue);
    /* padding: 70px 20px; */
    padding: 70px;
}

.process_section > h3{
    font-size: 50px !important;
    font-family: var(--lora);
    text-align: center;
    margin-bottom: 40px;
}

@media (max-width: 992px) {
    .process_section{
        background-color: transparent;
        padding: 70px 20px;
    }
    .top_small_card, .bottom_long_card{
        background-color: var(--bb-blue) !important;
    }
}

.top_small_card
{
    height: 100%;
    margin: auto 10px;
    width: auto;
    border-radius: 20px;
    background-color: var(--bb-light-white);
}

.top_small_card h4{
    font-family: var(--lora);
    font-weight: bold;
}

@media (max-width:479px) {
    .mx-5{
        margin: 0 !important;
    }
    .process_section {
        background-color: transparent;
        padding: 50px 0px;
    }
}

@media (max-width:1199px) {
    .nav-link{
        font-size: 15px;
    }
}



.top_small_card li{
    font-size: 13px;
}

.bottom_long_card
{
    width: 100%;
    height: 100%;
    border-radius: 20px;
    background-color: var(--bb-light-white);
}

.bottom_long_card h2{
    font-family: var(--lora);
}

.bottom_long_card li{
    font-size: 13px;
}

.features_section{
    color: var(--bb-white);
}

.small_card{
    height: 100%;
    margin: auto 10px;
    width: auto;
    border-radius: 20px;
    background-color: var(--bb-light-black);
}

.small_card .container{
    padding: 40px;
}

.small_card li{
    font-size: 13px;
}

.small_card h4{
    font-family: var(--lora);
}

.whyNow
{
    color: var(--bb-white);
}

.whyNow-text{
    font-family: var(--lora);
    font-size: 40px;
    margin: 25px auto;
}

.cards_section
{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.card_long{
    width: 100%;
    height: auto;
    padding: 40px;
    border-radius: 30px;
    margin-bottom: 20px;
}

.card_long h6{
    font-weight: normal;
    font-family: var(--lora);
    font-size: 30px;
}

.card_long:first-child{
    background-color: var(--bb-blue);   
}

.card_long:nth-child(2){
    background-color: var(--bb-pink);
}

.card_long:last-child{
    background-color: var(--bb-yellow);
    color: var(--bb-black) !important;
}

.contact_section
{
    height: 100vh;
    width: 100%;
    background: var(--bb-blue);
    background-image: url(../assets/logo/Vector\ 2.png), url(../assets/logo/Vector\ 2.png) !important;
    background-repeat: no-repeat !important;
    background-size: 400%, 200% !important;
    background-position: -550px 220px, -550px -70px !important;
}

@media (max-width:575.98px) {
    .contact_section{
        background-size: 400%, 200%;
        background-position: 300px 700px, -400px 10px;
    }
}

.contact_content
{
    
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: var(--bb-white);
}

.contact_content h3{
    font-weight: bold;
    letter-spacing: 4px;
    font-size: 30px;
    font-family: var(--lora);
}

.email_2 {
    background-color: var(--bb-lighter-black) !important;
    margin-right: 10px;
    border: none !important;
    outline: none;

    width: 100%;
}
.email_2::placeholder {

    color: var(--bb-white) !important;
    font-size: 13px;
}

#subscribe_btn_2 {
    background-color: var(--bb-white) !important;
    width: 150px;
    text-transform: none;
}

#formShow,
#logoShow {
    display: none !important;
}



@media (max-width:991px) {

    #formShow,
    #logoShow {
        display: block !important;
    }

    #formHide,
    #logoHide {
        display: none;
    }
    .line{
        height: 1px;
        width: 100%;
        background-color: var(--bb-pink);
    }

}

footer{
    font-size: 13px;
}

footer .row {
    justify-content: center;
}

footer .col-md-2 {
    width: 100px;
    padding: 15px;
    margin: 5px 10px;
}

footer #logoHide {
    width: 20%;
}

footer #formHide {
    width: 30%;
}

@media (max-width:579.98px) {
    .small_card .container{
        padding: 40px !important;
    }
}


.navbar_md_screen .content{
    display: flex;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: -0%;
    opacity: 0;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--bb-pink);
    color: var(--bb-white);
    transition: all 0.5s ease;
    z-index: 1;
}

.closeNav{
    position: absolute;
    top: 40px;
    right: 30px;
    background-color:transparent;
    border: none;
    outline: none;
}


@media (max-width:991.98px) {
    .small_card .container{
        padding: 20px;
    }


    .navbar_md_screen .content.show{
        opacity: 1;
        visibility: visible;
        pointer-events: all;
        width: 100%;
    }

    .navbar_md_screen  .content .list_1{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }

    .navbar_md_screen .content .list_1 li {
        list-style: none !important;
    }
    .navbar_md_screen .content .list_1 li a{
        color: var(--bb-white);
        font-size: 20px;
    }
    .list_2{
        display: flex;
        position: absolute;
        bottom: 60px;
    }
    .list_2 a{
        height: 20px;
        width: 20px;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: var(--bb-white);
        color: var(--bb-pink) !important;
        border-radius: 50%;
    }
    
    

}

@media (max-width:479px) {
    footer .col-md-2 {
        width: 30%;
    }
}

@media (max-width:1199px) {
    footer #logoHide {
        width: 15%;
    }
}

@media (max-width:767px) {
    .bottom_long_card .content {
            display: flex;
            flex-direction: column;
            
        }
        .bottom_long_card .content ul:last-child{
            margin-top: -15px;
        }
        .bottom_long_card{
            width: 95%;
            margin-left: 10px;
        }
    .certificate {
        width: 100% !important;
    }
}
#subscribe_btn_2 {
    background-color: var(--bb-white) !important;
}

.form-control{
    background-color: rgba(255, 255, 255, 0.3);
    transition: all 0.25 ease;
    color: var(--bb-white) !important;
    border-radius: 10px !important;
}

#phone_number{
    border-top-left-radius: 0 !important;
    border-left: none !important;
    outline: none !important;
    border-bottom-left-radius: 0 !important;
}

.form-control::placeholder{
    color: var(--bb-white);
    
}
.form-control:active, .form-control:focus{
    background: var(--bb-pink);
}

#sBtn{
    padding: 10px;
    margin: 10px auto;
    background-color: var(--bb-white);
    border-radius: 10px;
    font-size: 17px;
    color: var(--bb-blue);
    font-weight: bolder;
}

@media (max-width:767px) {
    .copyright_content {
        justify-content: center !important;
    }
}

.input-group select{
    box-shadow: 0 4px 30px rgba(255, 255, 255, 0.1);
    background-color: rgba(255, 255, 255, 0.3);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
}

@media (max-width:575.98px) {
    footer {
        display: none !important;
    }

    .footer-md_screen {
        display: block !important;
    }

    .footer-md_screen .footer-md_screen_content {
        display: flex;
        width: 100%;
        justify-content: space-between;
        flex-wrap: nowrap;
    }

    .footer-md_screen .footer-md_screen_content div {}

    .footer-md_screen .footer-md_screen_content ul li {
        list-style: none;
        font-size: 15px !important;
    }

    .footer-md_screen .footer-md_screen_content ul li a {
        color: var(--bb-white) !important;
        font-weight: bolder;
    }

    .socials a {
        height: 40px;
        width: 40px;
        background-color: var(--bb-white);
        margin: 0 20px;
        display: flex;
        align-items: center;
        justify-content: center;
        color: var(--bb-black) !important;
        border-radius: 50%;
    }

}

.footer-md_screen {
    display: none;
}
