@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,400;0,500;0,600;0,800;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lora:wght@500&display=swap');



body {
    background: var(--bb-black);
    font-family: 'Barlow', sans-serif;
}

:root {
    --bb-black: #2b2b2b;
    --bb-light-black: #3f3f3f;
    --bb-lighter-black: #616161;
    --bb-blue: #793aff;
    --bb-pink: #ff5491;
    --bb-yellow: #ffcc4a;
    --bb-white: #ffffff;
    --barlow: 'Barlow', sans-serif;
    --lora: 'Lora', sans-serif
}

label {
    display: flex;
    flex-direction: column;
    width: 70px;
    cursor: pointer;
}

label span {
    background: #fff;
    border-radius: 10px;
    height: 7px;
    margin: 5px 0;
    transition: .4s cubic-bezier(0.68, -0.6, 0.32, 1.6);

}


label span:nth-of-type(1) {
    width: 40%;

}

label span:nth-of-type(2) {
    width: 80%;
}


label span:nth-of-type(3) {
    width: 55%;

}


input[type="checkbox"] {
    display: none;
}


input[type="checkbox"]:checked~span:nth-of-type(1) {
    transform-origin: bottom;
    transform: rotatez(45deg) translate(8px, 0px)
}


input[type="checkbox"]:checked~span:nth-of-type(2) {

    transform-origin: top;
    transform: rotatez(-45deg)
}


input[type="checkbox"]:checked~span:nth-of-type(3) {

    transform-origin: bottom;
    width: 40%;
    transform: translate(25px, -11px) rotatez(45deg);

}

.navbar_content {
    /* absolute position with no background color */
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1;

}

.navbar {
    box-shadow: none !important;
    margin: 10px auto;
}

.navbar-nav {
    background-color: rgba(255, 255, 255, 0.1);
    padding: 0px 50px;
    border-radius: 50px;
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
}

.nav-link {
    font-weight: 500;
    font-size: 18px;
}

.nav-item {
    margin-right: 15px;
}

.nav-item:last-child {
    margin-right: 0;
}

.social_icons {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.social_icons a {
    background-color: var(--bb-white);
    height: 20px;
    width: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    font-size: 10px;
}


.hero_section {
    height: 100vh;
    width: 100%;
    background-image: url(../assets/images/2.jpg);
    background-position: center;
    background-size: cover;
    object-fit: cover;
    background-repeat: no-repeat;
    position: relative;
    color: var(--bb-white);
    overflow: hidden;
    clip-path: circle(180vh at 50% -80vh);
}




/* .overlay{
    position: absolute;
    height: 80vh;
    width: 100%;
    background-color: rgba(0,0,0, 0.4);
} */

.hero_content {
    position: relative;
    width: 100%;
    position: absolute;
    bottom: 50px;
    padding: 0 25px;
    z-index: 1;
}
.hero_content h6{
    font-size: 20px;
    font-weight: 500;
    text-align: center;
}
.hero_content h3{
    font-size: 30px;
    font-weight: normal;
    font-family: var(--lora);
    text-align: center;
}

.hero_content .buttons{
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
    width: 100%;
}

.sponsors{
    position: relative;
    height: 60vh;
    width: 100%;
    background-color: var(--bb-blue);
    position: relative;
    /* Clip path half circle */
    clip-path: circle(120vh at 50% -40vh);
    /* Clip path full circle */

}

.sponsors_logo{
    height: 50vh;
    display: flex;
    flex-wrap: wrap;
    gap: 55px;
    justify-content: center;
    align-items: center;
}

.latest_podcast{
    position: relative;
    top: -160px;
}

.sponsors_logo_2{
    display: none;
    flex-wrap: wrap;
    gap: 55px;
    justify-content: center;
    align-items: center;
    position: relative;
}

/* @media (max-width:767px) {
    .sponsors_logo_2 {
        display: flex;
    }
} */

/* .light-overlay{
    height: 50vh;
    width: 100%;
    background-color: rgba(0,0,0,0.3);
    position: absolute;
} */

.sponsors_logo img{
    color: var(--bb-blue);
}




@media (max-width:991px) {


    .navbar-nav {
        border-radius: 0;
    }
    

    .social_icons {
        margin-top: 10px;
    }

    .social_icons {
        background-color: var(--bb-black);
        justify-content: center;
        padding: 10px;
        border-radius: 10px;
        margin-top: 10px;
    }
    .hero_content h6{
        font-size: 15px;
    }
    .hero_content h3{
        font-size: 25px;
    }
    .header a{
        display: none !important;
    }
    .news_left h2{
        font-size: 30px !important;
        text-align: center;
    }
    .services_card{
        padding: 30px 50px !important;
        border-radius: 25px !important;
    }
}

.btn_read_more {
    font-size: 0.9em;
    background-color: var(--bb-blue);
    color: var(--bb-white) !important;
    text-align: center;
    padding: 10px 70px;
    font-weight: 500;
    border-radius: 10px;
    outline: none;
    border: none;
    text-decoration: none;
    transition: all 0.4s ease;
}

.btn_read_more_2{
    font-size: 0.9em;
    background-color: transparent;
    color: var(--bb-white) !important;
    border: 1px solid var(--bb-white);
    border-bottom: 2px solid var(--bb-white);
    text-align: center;
    padding: 10px 70px;
    font-weight: 500;
    border-radius: 10px;
    text-decoration: none;
    transition: all 0.4s ease;
}


@media (max-width: 479px) {
    .hero_section, .overlay{
        height: 100vh;
    }
    .hero_content h6, .hero_content h3{
        text-align: left;
    }
    .btn_read_more, .btn_read_more_2{
        width: 100%;
        font-size: 20px;
    }
}
.btn_read_more:hover, .btn_read_more_2:hover{
    color: var(--bb-pink) !important;
    background-color: var(--bb-white) !important;
}

.btn_read_more_2 a{
    color: var(--bb-white) !important;
}


.notshown{
    display: none;
}

.podcast_notshown{
    position: relative;
    top: -100px;
    
}

.cards{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
}

.hidden{
    display: none;
}

.hidden h2{
    font-family: var(--lora);
    color: var(--bb-white);
    font-size: 40px;
}

@media (max-width:767px) {
    .notshown{
        display: flex;
    }
    .header{
        justify-content: center !important;
    }
    .card{
        width: 100% !important;
    }
    .hidden{
        display: block;
    }
    .shown{
        display: none;
    }
    .owl-carousel{
        display: none !important;
    }
    
}


.card
{
    height: auto ;
    width: 300px;
    margin: 0;
    background: var(--bb-lighter-black);
    border-radius: 10px;
    color: var(--bb-white);
}

.card:hover{
    cursor: grab;
}

.card img{
    border-radius: 10px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    height: 300px;
    object-fit: cover;
}

.read_more
{
    margin: 10px auto;
    text-transform: capitalize;
    font-weight: bolder;
    border-radius: 50px;
    color: var(--bb-white);
    border: 1px solid var(--bb-white);
}

.read_more:hover{
    color: var(--bb-white);
}

.read_more span{
    border: 1px solid var(--bb-white);
    padding: 5px;
    height: 10px;
    width: 10px;
    margin-left: 5px;
    border-radius: 50%;
}

.header
{
    display: flex;
    justify-content: space-between;
    color: var(--bb-white);
    margin: 20px auto;
}

.header h4{
    font-size: 30px;
    font-weight: bolder;
    font-family: var(--lora);
    text-align: center;
}

.header a{
    border: 1px solid var(--bb-white);
    height: 30px;
    width: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 5px;
    border-radius: 50%;
    color: var(--bb-white);
}
.header a:last-child{
    background-color: var(--bb-blue);
}

.news_letter_section {
    background-color: var(--bb-yellow);
    background-image: url(../assets/logo/Vector\ 2.png);
    background-position: -600px -100px;
    background-size: 300%;
    padding: 20px 50px;
    border-radius: 15px;
}



#email {
    border: 0;
    outline: 0;
    background: rgba(255, 255, 255, 0.2);
}

#email::placeholder {
    color: var(--bb-black);
}

.news_left {
    color: var(--bb-pink);
}

.news_left h2 {
    font-weight: bolder !important;
    font-size: 50px;
    font-style: italic;
    
}

#subscribe_btn {
    background: var(--bb-white);
    color: var(--bb-pink);
    font-size: 20px;
    padding: 10px;
    text-transform: none;
}

.get_quote_section
{
    height: auto;
    padding: 50px;
    width: 100%;
    border-radius: 10px;
    background-color: var(--bb-blue);
    background-image:  url(../assets/logo/Vector\ 2.png), url(../assets/logo/Ellipse1.png);
    background-position: center, bottom right;
    background-repeat:  no-repeat, no-repeat;
    background-size:  200%, 150px;
    position: relative;
}

.get_quote_section form{
    position: relative;
    bottom: -30px;
    padding: 0 20px;
}

.get_quote_content
{
    color: var(--bb-white);
    display: flex;
    justify-content: flex-end;
    height: 100%;
    flex-wrap: nowrap;
    flex-direction: column;
    position: relative;
}

.circle1{
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background-color: var(--bb-yellow);
    position: absolute;
    top: -10%;
    right: 0%;
    transform: translate(40%, 0);
}

.circle2{
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background-color: var(--bb-white);
    position: absolute;
    top: -25%;
    right: 10%;
    transform: translate(50%, 0);
}

.get_quote_content img{
    position: absolute;
    right: 0;
    bottom: -50px;
    z-index: 0;
    height: 440px;
}

.get_quote_content h2{
    font-weight: 800;
    font-size: 40px;
    font-style: italic;
    position: absolute;
    z-index: 1;
    bottom: -20px;
}


@media (max-width:991px) {
    .get_quote_content img, .circle1, .circle2{
        display: none;
    }
    .get_quote_content{
        justify-content: center;
    }
    .get_quote_content h2{
        position: relative
    }
    .get_quote_section form{
        bottom: 0;
        padding: 0;
    }
}

@media (max-width:375px) {
    .get_quote_content h2{
        font-size: 30px;
    }
}

#quote_btn
{
    background-color: var(--bb-white) ;
    text-transform:none;
    font-weight: bolder;
    color: var(--bb-blue);
    padding: 10px;
    border-radius: 10px;
    font-size: 15px;
}

.quote_name, .quote_email, .quote_phone{
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 10px;
    border: none;
    outline: none;
    transition: all 0.25 ease;
}

.quote_phone{
    border-top-left-radius: none !important;
    border-bottom-left-radius: none !important;
}

.quote_name::placeholder,
.quote_email::placeholder,
.quote_phone::placeholder
{
    color: var(--bb-white);
}

.quote_name:active,.quote_name:focus, .quote_email:active, .quote_email:focus, .quote_phone:active, .quote_phone:focus{
    background: var(--bb-pink);
}

.input-group select {
    box-shadow: 0 4px 30px rgba(255, 255, 255, 0.1);
    background-color: rgba(255, 255, 255, 0.3);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    margin: 10px auto;
}

.podcast_integration {
    height: auto;
    width: 100%;
    background-color: var(--bb-light-black);
    
}

.podcast_integration_content
{
    color: var(--bb-white);
}

.podcast_integration_content h2{
    font-family: var(--lora);
    font-size: 40px;
    font-weight: bold;
}

.integration_forms
{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    padding: 5px 40px;
    background-color: var(--bb-lighter-black);
    border-radius: 50px;
}
.integration_forms button:first-child{
    border: none !important;
}
.integration_forms button{
    outline: none;
    padding: 5px 70px;
    border-radius: 50px;
    background-color: transparent;
    border: 1px solid var(--bb-white);
    color: var(--bb-white);
    margin:10px  auto;
}



.integration_forms button:first-child{
    background-color: var(--bb-pink) !important;
}

.podcast_list li{
    list-style-type:none;
    margin: 10px auto;
    font-size: 13px;
}

.podcast_list li span{
    padding: 3px 5px;
    border-radius: 50%;
    margin-right: 10px;
    background-color: var(--bb-pink);
}

.podcast_p {
    font-family: var(--lora);
    margin: 0 30px;
}

.services{
    color: var(--bb-white);
    margin: 50px auto;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.services_header{
    font-size: 50px;
    font-weight: bolder;
    font-family: var(--lora);
}

.services_content{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    padding: 20px;
    border-radius: 10px;
}

.services_card{
    width: 100%;
    height: 100%;
    background-color: var(--bb-blue);
    border-radius: 15px;
    margin: 10px;
    padding: 50px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    transition: all 0.25s ease;
    z-index: 1;
}

@media (max-width:991px) {
    .services_content{
        flex-wrap: wrap;
    }
    
}



.box
{
    height: 235px;
    width: 350px;
    background-color: var(--bb-yellow);
    border-radius: 20px;
}

.email_2 {
    background-color: transparent !important;
    margin-right: 10px;
}
.email_2::placeholder {

    color: rgba(255, 255, 255, 0.5) !important;
    font-size: 13px;
}

#subscribe_btn_2 {
    background-color: var(--bb-white) !important;
    width: 150px;
    text-transform: none;
}

#formShow,
#logoShow {
    display: none !important;
}



@media (max-width:991px) {

    #formShow,
    #logoShow {
        display: block !important;
    }

    #formHide,
    #logoHide {
        display: none;
    }

}
footer{
    font-size: 13px;
}
footer .row {
    justify-content: center;
}

footer .col-md-2 {
    width: 100px;
    padding: 15px;
    margin: 5px 10px;
}

footer #logoHide {
    width: 20%;
}

footer #formHide {
    width: 30%;
}

@media (max-width:479px) {
    footer .col-md-2 {
        width: 30%;
    }
}

@media (max-width:1199px) {
    footer #logoHide {
        width: 15%;
    }
}

@media (max-width:767px) {
    .certificate {
        width: 100% !important;
    }
        .video_play_section,
        .podcast_section,
        .sales_section{
            height: 100% !important;
        }
}

.video_play_section, .podcast_section, .sales_section
{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 100%;
}

.video_play_section{
    position: relative;
    top: -100px;
    padding: 150px 30px 5px;
    background-color: var(--bb-light-black);
}

.sales_section{
    background-color: var(--bb-blue);
    padding: 30px 5px;
}

.video_play_content, .podcast_content, .sales_content{
    display: flex;
    gap: 25px;
    color: var(--bb-white);
    margin: 50px auto;
    width: 100%;
}



.video_play_content h3, .podcast_content h3, .sales_content h3{
    font-size: 35px;
    font-family: var(--lora);
}

.video_play_content a{
    padding: 10px 40px;
    background-color: var(--bb-pink);
    color: var(--bb-white) !important;
    border-radius: 10px;
}

.podcast_content a{
    padding: 10px 40px;
    background-color: var(--bb-blue);
    color: var(--bb-white) !important;
    border-radius: 10px;
}

.sales_content a {
    padding: 10px 40px;
    background-color: var(--bb-white);
    color: var(--bb-blue) !important;
    border-radius: 10px;
}

@media (max-width: 479px) {
    .podcast_write_up,
        .video_play_write_up,
        .sales_write_up {
            width: 100%;
            display: flex;
            flex-direction: column;
        }
    .podcast_content a, .sales_content a, .video_play_content a{
        height: 60px;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 10px;
    }
}


.rectangle{
    height: auto;
    width: 100%;
    position: relative;
    z-index: 1;
}


@media (max-width:991px) {
    
    .video_play_section{
        background-position: -350px 00px;
    }
    .collapse a {
        color: var(--bb-white);
    }

    .navbar-nav,
    .social_icons {
        background-color: var(--bb-pink);
    }
}

@media (max-width:575.98px) {
    footer {
        display: none !important;
    }

    .footer-md_screen {
        display: block !important;
    }

    .footer-md_screen .footer-md_screen_content {
        display: flex;
        width: 100%;
        justify-content: space-between;
        flex-wrap: nowrap;
    }

    .footer-md_screen .footer-md_screen_content div {}

    .footer-md_screen .footer-md_screen_content ul li {
        list-style: none;
        font-size: 15px !important;
    }

    .footer-md_screen .footer-md_screen_content ul li a {
        color: var(--bb-white) !important;
        font-weight: bolder;
    }

    .socials a {
        height: 40px;
        width: 40px;
        background-color: var(--bb-white);
        margin: 0 20px;
        display: flex;
        align-items: center;
        justify-content: center;
        color: var(--bb-black) !important;
        border-radius: 50%;
    }

}

.footer-md_screen {
    display: none;
}



.interested-content
{
    height: 100vh;
    width: 100%;
    background-color: var(--bb-black);
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    border: none;
    outline: none;
}

.interested-content h2{
    position: relative;
    color: var(--bb-white);
    font-size: 2rem;
}

.skewedOne{
    position: absolute;
    bottom: -100%;
    left: 50%;
    width: 100%;
    height: 100%;
    background-color: var(--bb-pink);
    transform: skewY(-15deg);
    transform-origin: top left;
}

.skewedTwo{
    position: absolute;
    bottom: -100%;
    right: 50%;
    width: 100%;
    height: 100%;
    background-color: var(--bb-pink);
    transform: skewY(15deg);
    transform-origin: top right;
}

.customer-content{
    background-color: var(--bb-black);
}

.customer-stories{
    position: relative;
    height: 100%;
    width: 100%;
}

.customer-stories-content
{
    height: 60vh;
    width: 100%;
    background-color: var(--bb-pink);
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    flex-direction: column;
    color: var(--bb-white);
}
.customer-stories-content h1{
    font-family: var(--lora);
    font-weight: bold;
    font-size: 50px;
}

.customer-skewedOne {
    position: absolute;
    bottom: -100%;
    left: 50%;
    width: 100%;
    height: 100%;
    background-color: var(--bb-black);
    transform: skewY(-15deg);
    transform-origin: top left;
}

.customer-skewedTwo {
    position: absolute;
    bottom: -100%;
    right: 50%;
    width: 100%;
    height: 100%;
    background-color: var(--bb-black);
    transform: skewY(15deg);
    transform-origin: top right;
}

.customer-stories-cards
{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    overflow: hidden;
    position: relative;
    top: -100px;
    
}

.customer-card
{
    height:auto;
    background-color: var(--bb-light-black);
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    overflow: hidden;
    margin: 20px;
    border-radius: 10px;
    color: var(--bb-white);
}


.c-col-1
{
    width: 48%;
}

.c-col-2{
    width: 52%;
}

.customer-img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.customer-card-content
{
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 50px;
}

.customer-card-content h4{
    font-family: var(--lora);
    font-size: 22px;
}

.customer-card-content p{
    color: rgba(255,255,255,0.5)
}
.customer-card-content a{
    color: var(--bb-white) !important;
    padding: 5px 40px;
    margin-right: auto;
    border-radius: 10px;
    background-color: var(--bb-blue);
}

@media (max-width:991.98px) {
    .customer-stories-cards{
        top: 0;
    }
    .customer-card{
        flex-direction: column;
    }
    .customer-img{
        width: 100%;
        height: 100%;
    }
    .c-col-1, .c-col-2{
        width: 100%;
    }
    .customer-card-content{
        padding: 15px;
    }

    .customer-card:nth-child(2){
        flex-direction: column-reverse;
    }
}
